# ===== ROS / colcon =====
build/
install/
log/

# ===== IDE =====
.vscode/
.cache/
.clangd/
.compile_commands.json

# ===== OS =====
.DS_Store
Thumbs.db

# ===== C++ =====
*.o
*.so
*.a
*.out

# ===== Bags / Data =====
*.bag
*.bag.active
*.pcd
*.ply
